{% extends 'base/base_site.html' %}
{% load blog_tags %}

{% block style %}

 <style>

  </style>
{% endblock %}

{% block head_tips %}
{% endblock  %}

{% block content_header %}
    <section class="content-header">
        <h1>
        运维DBA
         </h1>
        <h5>
          大巧无功，重剑无锋
        </h5>
     <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">文档资料库</a></li>
        <li><a href="/blog_index">DBA BLOG</a></li>
         <li><a href="#">文章归档</a></li>
      </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="box box-solid">
        <!-- /.box-header -->
    <div class="box-body">
    <nav class="navbar navbar-dark" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/blog_index">首页</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Oracle <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/blog_index?type=Oracle&subtype=安装部署">安装部署</a></li>
                    <li><a href="/blog_index?type=Oracle&subtype=日常管理">日常管理</a></li>
                    <li><a href="/blog_index?type=Oracle&subtype=故障诊断">故障诊断</a></li>
                    <li><a href="/blog_index?type=Oracle&subtype=备份恢复">备份恢复</a></li>
                    <li><a href="/blog_index?type=Oracle&subtype=数据迁移">数据迁移</a></li>
                    <li><a href="/blog_index?type=Oracle&subtype=性能分析">性能分析</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    MySQL <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/blog_index?type=MySQL&subtype=安装部署">安装部署</a></li>
                    <li><a href="/blog_index?type=MySQL&subtype=日常管理">日常管理</a></li>
                    <li><a href="/blog_index?type=MySQL&subtype=故障诊断">故障诊断</a></li>
                    <li><a href="/blog_index?type=MySQL&subtype=备份恢复">备份恢复</a></li>
                    <li><a href="/blog_index?type=MySQL&subtype=数据迁移">数据迁移</a></li>
                    <li><a href="/blog_index?type=MySQL&subtype=性能分析">性能分析</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Linux <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/blog_index?type=Linux&subtype=安装部署">日常管理</a></li>
                    <li><a href="/blog_index?type=Linux&subtype=故障诊断">故障诊断</a></li>
                    <li><a href="/blog_index?type=Linux&subtype=性能分析">性能分析</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    系统运维 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/blog_index?type=系统运维&subtype=安装部署">日常管理</a></li>
                    <li><a href="/blog_index?type=系统运维&subtype=故障诊断">故障诊断</a></li>
                    <li><a href="/blog_index?type=系统运维&subtype=性能分析">性能分析</a></li>
                </ul>
            </li>
            <li>
               <a href="/article_archive" class="">
                    文章归档
                </a>
            </li>
        </ul>
        <div class="box-tools pull-right">
            <a href="/article_add">
            <button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip">
              <i class="fa fa-plus">新增文章</i></button></a>
          </div>
    </div>
</nav>
    <hr />
     <div class="container-fluid">
         <header class="archive-header">
                <p class="archive-title">文章归档</p>
            </header><!-- .archive-header -->

          <div class="row">
         <div class="col-md-9">
             <div class="entry-content">
                {% regroup blog_articles by created_year as year_post_group %}
                <ul>
                    {% for year in year_post_group %}
                        <li>{{ year.grouper }} 年
                            {% regroup year.list by created_month as month_post_group %}
                            <ul>
                                {% for month in month_post_group %}
                                    <li>{{ month.grouper }} 月
                                        <ul>
                                            {% for article in month.list %}
                                                <li><a href="/article_detail?id={{ article.id }}">{{ article.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
         </div>
      <div class="col-md-3">
      <form action="" method="post">
         <div class="input-group input-group-sm" style="width: 200px;">
                  <input type="text" name="search" class="form-control pull-right" placeholder="Search">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
         </div>
            </form>
       <br>
         <aside id="views-4" class="widget widget_views">
             <h5 class="widget-title">热门文章</h5>
            <p>
                {% for a in blog_views %}
                    <li style="list-style: none; margin: 0px; padding: 0px; line-height: 25px;">
                        <a class="mailbox-read-time" style="text-decoration: underline" href="/article_detail?id={{ a.id }}" title="{{ a.title }}">
                            {{ a.title }}
                        </a> - {{ a.views }} views
                    </li>
                {% endfor %}
            </p>
        </aside>
     <br>
     <aside id="su_siloed_terms-2" class="widget widget_su_siloed_terms">
         <h5 class="widget-title">分类目录</h5>
            <ul style="margin: 0px; padding: 0px; line-height: 25px;"><li style="list-style: none; margin: 0px; padding: 0px;"><a class="mailbox-read-time" style="text-decoration: underline" href="/blog_index?type=Oracle">Oracle</a>
           </li>
            <li style="list-style: none; margin: 0px; padding: 0px;"><a  class="mailbox-read-time" style="text-decoration: underline" href="/blog_index?type=MySQL">MySQL</a>
            </li>
            <li style="list-style: none; margin: 0px; padding: 0px;"><a  class="mailbox-read-time" style="text-decoration: underline" href="/blog_index?type=Linux">Linux</a>
            </li>
            <li style="list-style: none; margin: 0px; padding: 0px;"><a  class="mailbox-read-time" style="text-decoration: underline" href="/blog_index?type=系统运维">MySQL</a>
            </li>
            </ul>
        </aside>
     </br>
     </div>
     </div>

     </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
function pop_detail(m,n){
    layer.open({
    type: 2,
    title: n,
    closeBtn: 1,
    area: ['700px', '350px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/show_script_content?id='+ m]
  });
}
</script>
{% endblock %}
