amqp==1.4.7
anyjson==0.3.3
asn1crypto==0.22.0
backports-abc==0.5
bcrypt==3.1.7
billiard==3.3.0.20
celery==3.1.18
certifi==0.0.8
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cx-Oracle==5.1.3
delegator.py==0.1.1
Django==1.11.23
django-celery==3.3.0
django-ckeditor==5.7.1
django-crontab==0.7.1
django-js-asset==1.2.2
ecdsa==0.13.3
enum34==1.1.6
futures==3.3.0
idna==2.8
ipaddress==1.0.22
kombu==3.0.30
Markdown==3.1.1
mistune==0.8.4
MySQL-python==1.2.5
paramiko==2.3.3
pexpect==4.7.0
ptyprocess==0.6.0
pyasn1==0.4.5
pycparser==2.19
pycrypto==2.6.1
pyExcelerator==0.6.4.1
Pygments==2.4.2
PyNaCl==1.2.1
pytz==2019.1
redis==3.2.1
requests==2.22.0
singledispatch==3.4.0.3
six==1.12.0
tornado==5.0.1
urllib3==1.25.3
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
