<!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/begin" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>DB</b>m</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>DB</b>monitor</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-danger">{{ msg_num }} </span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">您有 {{ msg_num }} 条告警信息</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/static/dist/img/oracle.jpg" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        DB monitor
                        <small><i class="fa fa-clock-o"></i> {{ tim_last }} mins</small>
                      </h4>
                      <!-- The message -->
                      <p>{{ msg_last_content }}</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href=/show_alarm>查看所有消息</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/static/dist/img/user3-128x128.jpg" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/static/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">

                <p>
                  Admin - 数据库管理员
                  <small>2018.03</small>
                </p>
              </li>
               <!-- Menu Footer-->
                <form action="" method="post">
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/sys_setting" class="btn btn-default btn-flat">系统设置</a>
                </div>
                <div class="pull-right">
                  <button type="submit" class="btn btn-default btn-flat" name="logout">退出登录</button>
                </div>
              </li>
                </form>
            </ul>
        </ul>
      </div>
    </nav>
  </header>