{% extends 'base/base_site.html' %}
{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Oracle部署
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">自动化运维</a></li>
        <li><a href="/my_tools">工具包</a></li>
        <li class="active">Oracle部署</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
        <div class="row">
        <div class="col-xs-12">
        <div class="box box-info">
            <!-- form start -->
            <form class="form-horizontal" action="" method="POST">
              <div class="box-body">
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">主机名</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="host_name" placeholder="必填">
                  </div>
                </div>
                   <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">主机IP</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="host" placeholder="必填">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">ROOT用户密码</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" placeholder="必填">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">操作系统版本</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="linux_version" placeholder="centos6.5">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">安装Oracle数据库版本</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="oracle_version" placeholder="11.2.0.4">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">软件安装目录</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="soft_dir" placeholder="/">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">数据文件目录</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="data_dir" placeholder="/u01/app/oracle/oradata">
                  </div>
                </div>
                     <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" name="commit">开始环境配置！</button>
              </div>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
{% endblock %}

{% block javascripts %}
<script>
    function control(n) {
     var msg = "确定要"+n+"？\n\n请确认！";
     if (confirm(msg)==true){
     return true;
     }else{
     return false;
}
}
    </script>
{% endblock %}