{% extends 'base/base_site.html' %}
{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Oracle控制面板
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">自动化运维</a></li>
        <li><a href="/my_tools">工具包</a></li>
        <li class="active">Oracle控制面板</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
        <!-- /.box-body -->
            <div class="box-body">
              <table id="table1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                    <th>标签</th>
                  <th>IP地址</th>
                  <th>端口</th>
                  <th>服务名</th>
                    <th>状态</th>
                    <th>操作类型</th>
                </tr>
                </thead>
                {% for oracle_ctl in oracle_ctls %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td>{{ oracle_ctl.tags}} </td>
                 <td>{{ oracle_ctl.host}} </td>
                 <td>{{ oracle_ctl.port}} </td>
                 <td>{{ oracle_ctl.service_name}} </td>
                     <td><span class="label label-{{ oracle_ctl.is_run }}">{{ oracle_ctl.run_status }}</span></td>
                  <td>
                    <div class="btn-group" data-toggle="btn-toggle">
                        <a href="/oracle_ctl?tags={{ oracle_ctl.tags }}&host={{ oracle_ctl.host }}&oper_type={{ oracle_ctl.oper_type }}">
                  <button class="btn btn-default btn-sm" onclick="javascript:return control('{{ oracle_ctl.oper_type }}');"><i class="fa fa-power-off text-{{ oracle_ctl.run_color }}" title="{{ oracle_ctl.oper_type }}"></i>
                  </button>
                        <span style="color:red;">{{ msg }}</span>
                    </a>
                        <a href="/oracle_ctl?tags={{ oracle_ctl.tags }}&host={{ oracle_ctl.host }}&oper_type=restart">
                  <button type="submit" class="btn btn-default btn-sm" name="restart" onclick="javascript:return control('restart');"><i class="fa fa-refresh text-blue" title="restart"></i></button></a>
                </div>

                </td>
                 </tr>
                 {% endfor %}
              </table>
            </div>
      </div>
      </div>
{% endblock %}

{% block javascripts %}
<script>
    function control(n) {
     var msg = "确定要"+n+"？\n\n请确认！";
     if (confirm(msg)==true){
     return true;
     }else{
     return false;
}
}
    </script>
{% endblock %}