{% extends 'base/base_site.html' %}
{% block content_header %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Oracle审计
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">自动化运维</a></li>
        <li><a href="/my_tools">工具包</a></li>
        <li class="active">Oracle审计</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-success">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
            <form action="" method="post" id="myform">
                <div class="box-tools pull-left">
              <div class="form-group">
                <label>选择Oracle数据库：</label>
                <select onchange="submitForm();" class="form-control select2" style="width: 100%;" name="select_tags">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  <option selected="selected">{{ tagsdefault }}</option>
                  {% for tags in tagsinfo %}
                  <option>{{ tags.tags }}</option>
                   {% endfor %}
                </select>
              </div>
              <!-- /.form-group -->
            </div>
                      <!-- SELECT2 EXAMPLE -->
            </form>
          </div>
           <div class="col-md-6">
              <div class="box-tools">
              <table class="table table-bordered text-center">
             <tbody>
                <a href="/oracle_audit?tagsdefault={{ tagsdefault }}&db_range_default=1小时&owner={{ owner }}&object={{ object }}"><button type="button" class="btn bg-olive margin">1小时</button></a>
                <a href="/oracle_audit?tagsdefault={{ tagsdefault }}&db_range_default=1天&owner={{ owner }}&object={{ object }}"><button type="button" class="btn bg-olive margin">1天</button></a>
                <a href="/oracle_audit?tagsdefault={{ tagsdefault }}&db_range_default=7天&owner={{ owner }}&object={{ object }}"><button type="button" class="btn bg-olive margin">7天</button></a>
                <a href="/oracle_audit?tagsdefault={{ tagsdefault }}&db_range_default=30天&owner={{ owner }}&object={{ object }}"><button type="button" class="btn bg-olive margin">30天</button></a>
              </tbody></table>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          <!-- /.row -->
       </div>
        </div>
                    <!-- /.row -->
        <form class="" action="" method="POST">
            <div class="col-xs-5">
        </div>

        <div class="col-xs-3">
       <div class="input-group">
                <span class="input-group-addon">用户过滤</span>
                <input type="text" class="form-control" id="owner" name="owner" placeholder="必填">
              </div>
        </div>
        <div class="col-xs-3">
             <div class="input-group">
                <span class="input-group-addon">对象过滤</span>
                <input type="text" class="form-control" id="object" name="object" placeholder="选填">
              </div>
        </div>
         <div class="col-xs-1">
      <div class="form-group">
          <button type="submit" class="btn bg-block btn-default bg-teal" name="commit">go!</button>
         </div>
        </div>
       </form>

     </div>
       <div class="box box-solid ">
              <!-- /.box-header -->
        <div class="box-body">
        <!-- /.box-body -->
         <div class="box-header">
              <h3 class="box-title">审计结果</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow: auto">
              <table id="table1" class="table table-bordered table-hover" style="table-layout: auto">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>操作系统用户</th>
                    <th>用户名</th>
                    <th>主机名</th>
                    <th>对象用户</th>
                    <th>对象名</th>
                    <th>操作类型</th>
                    <th>使用权限</th>
                    <th>SQL_TEXT</th>
                    <th>SQL_BIND</th>
                </tr>
                </thead>
                {% for audit_content in audit_contents %}
                 <tr>
                 <td>{{ audit_content.TIMESTAMP}} </td>
                 <td>{{ audit_content.OS_USERNAME }} </td>
                 <td>{{ audit_content.USERNAME }} </td>
                 <td>{{ audit_content.USERHOST }} </td>
                 <td>{{ audit_content.OWNER }} </td>
                 <td>{{ audit_content.OBJ_NAME }} </td>
                 <td>{{ audit_content.ACTION_NAME }} </td>
                 <td>{{ audit_content.PRIV_USED }} </td>
                 <td>{{ audit_content.SQL_TEXT }} </td>
                 <td>{{ audit_content.SQL_BIND }} </td>
                 </tr>
                 {% endfor %}
              </table>
            </div>
      </div>
     </div>
      </div>
{% endblock %}
