{% extends 'base/base_site.html' %}
{% block content_header %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Oracle概览
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">Oracle</a></li>
        <li class="active">概览</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body" style="overflow: auto">
              <table id="table1" class="table table-bordered table-striped" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标签</th>
                    <th>IP地址</th>
                    <th>端口号</th>
                    <th>实例名</th>
                    <th>角色</th>
                    <th>运行时间(天)</th>
                    <th>审计级别</th>
                    <th>归档模式</th>
                    <th>归档使用率</th>
                    <th>最大连接数</th>
                    <th>连接使用率</th>
                    <th>PGA使用率</th>
                    <th>QPS</th>
                    <th>TPS</th>
                    <th>adg传输延迟</th>
                    <th>adg应用延迟</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                 {% for dbinfo in dbinfos %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td><a href="/oracle_monitor?tagsdefault={{ dbinfo.tags }}">{{ dbinfo.tags}}</a></td>
                 <td>{{ dbinfo.host}} </td>
                 <td>{{ dbinfo.port}} </td>
                 <td>{{ dbinfo.instance_name}}</td>
                 <td>{{ dbinfo.database_role}}</td>
                 <td>{{ dbinfo.uptime}}</td>
                 <td>{{ dbinfo.audit_trail}}</td>
                 <td>{{ dbinfo.log_mode}} </td>
                 <td><span class="badge bg-{{ dbinfo.archive_rate_level }}">{{ dbinfo.archive_used }}%</span></td>
                 <td> {{ dbinfo.max_process}}</td>
                 <td><span class="badge bg-{{ dbinfo.conn_rate_level }}">{{ dbinfo.percent_process }}%</span></td>
                 <td><span class="badge bg-{% if dbinfo.pga_used_pct < 100 and dbinfo.pga_used_pct %}green{% elif dbinfo.pga_used_pct >= 100 and dbinfo.pga_used_pct < 300 %}yellow{% elif dbinfo.pga_used_pct >= 200 %}red{% else %}None{% endif %}">{{ dbinfo.pga_used_pct }}%</span></td>
                 <td>{{ dbinfo.qps}} </td>
                 <td>{{ dbinfo.tps}} </td>
                 <td><span class="badge bg-{{ dbinfo.adg_transport_rate_level }}">{{ dbinfo.adg_transport_lag }}</span></td>
                 <td><span class="badge bg-{{ dbinfo.adg_apply_rate_level }}">{{ dbinfo.adg_apply_lag }}</span></td>
                 <td><span class="badge bg-{{ dbinfo.rate_level }}">{{ dbinfo.mon_status }}</span></td>
                 </tr>
                 {% endfor %}
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
{% endblock %}
