{% extends 'base/base_site.html' %}
  {% block main_header %}
  {% endblock %}
  {% block main_sidebar %}
  {% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
        <div class="box box-solid">
            <!-- form start -->
            <form class="form-horizontal" action="" method="POST">
              <div class="box-body">
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">设备类型</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="db_type" value={{ alarm_setting_edit.server_type }} disabled>
                  </div>
                </div>
                   <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">告警类型</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="alarm_name" value={{ alarm_setting_edit.alarm_name }} disabled>
                  </div>
                </div>
                   <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">运算符</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="judge" value={{ alarm_setting_edit.judge }}>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">告警阈值</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="jdg_value" value={{ alarm_setting_edit.jdg_value }}>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">阈值说明</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="jdg_des" value={{ alarm_setting_edit.jdg_des }}>
                  </div>
                </div>
                  <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">告警查询SQL配置</label>
              <div class="col-sm-8">
               <textarea name="select_sql" rows="2" cols="40" class="form-control">{{ alarm_setting_edit.select_sql }}</textarea>
              </div>
             </div>
                       <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">告警判断SQL配置</label>
              <div class="col-sm-8">
               <textarea name="jdg_sql" rows="6" cols="40" class="form-control">{{ alarm_setting_edit.jdg_sql }}</textarea>
              </div>
             </div>
                     <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" name="commit">更新</button>
              </div>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
 {#回传参数至父层#}
<script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name);
        var success = {{ status }};
        if ( success == '1' ) {
            parent.$("#handle_status").val('1');
              parent.layer.close(index);
        } else if( success == '2' ) {
            parent.$("#handle_status").val('2');
            parent.layer.close(index);
        }
</script>
{% endblock %}