{% extends 'base/base_site.html' %}

{% block style %}
 <style>
     .table tr th {
    font-size: 13px;
    }
    .table tr td {
    font-size: 13px;
    }
    [aria-controls="example1"] {
    }

    li{list-style: none;}/*这里设置*/

  </style>
{% endblock  %}

{% block content_header %}
    <section class="content-header">
      <h1>
        仪表盘
      </h1>
      <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">仪表盘</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-solid">
            <div class="box-body">
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
           <div class="col-md-4">
          <!-- AREA CHART -->
            <div class="box-body chart-responsive">
              <div class="chart" id="linux-chart" style="height: 300px; "></div>
            </div>
            <!-- /.box-body -->
          <!-- /.box -->

        </div>
        <div class="col-md-4">
          <!-- AREA CHART -->
            <div class="box-body chart-responsive">
              <div class="chart" id="oracle-chart" style="height: 300px; "></div>
            </div>
            <!-- /.box-body -->
          <!-- /.box -->

        </div>
        <div class="col-md-4">
          <!-- AREA CHART -->
            <div class="box-body chart-responsive">
              <div class="chart" id="mysql-chart" style="height: 300px; "></div>
            </div>
            <!-- /.box-body -->
          <!-- /.box -->
        </div>
        <section class="col-lg-7 connectedSortable ui-sortable">
            <div class="nav-tabs-custom" style="cursor: move;">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
              <li class=""><a href="#msg" data-toggle="tab" aria-expanded="true">实时告警({{ msg_num }})</a></li>
              <li class="active"><a href="#msg-chart" data-toggle="tab" aria-expanded="false">月度告警分布</a></li>
              <li class="pull-left header"><i class="fa fa-warning"></i>告警概览</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
             <div class="chart tab-pane active" id="msg-chart">
              <div class="chart" id="alarm-chart" style="height: 300px; "></div>
            </div>
                <div class="chart tab-pane" id="msg">
            <div class="box-body chart-responsive">
              <table class="table table-striped">
                <tbody>
                {% for message in messageinfo_list %}
                <tr>
                    <td>{{ message.alarm_header }}
                        <small class="label label-danger"><i class="fa fa-clock-o"></i> {{ tim_last }} min</small>
                    </td>
                  <td></td>
                </tr>
                {% endfor %}
              </tbody></table>
            </div>
                <div class="box-footer clearfix no-border">
                <span class="pull-right text-muted">{{ now }}</span>
            </div>
            </div>
            </div>
          </div>
        </section>
    <section class="col-lg-5 connectedSortable ui-sortable">
        <div class="nav-tabs-custom" style="cursor: move;">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class=""><a href="#disk" data-toggle="tab" aria-expanded="false">磁盘</a></li>
                <li class=""><a href="#mem" data-toggle="tab" aria-expanded="false">内存</a></li>
                <li class="active"><a href="#cpu" data-toggle="tab" aria-expanded="true">CPU</a></li>
              <li class="pull-left header"><i class="fa fa-linux"></i>top5</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
             <div class="chart tab-pane active" id="cpu">
                 <div class="box-body chart-responsive">
              <table class="table table-striped">
                <tbody><tr>
                  <th>标签</th>
                    <th>主机名</th>
                    <th>百分比</th>
                </tr>

                {% for osinfo in top_5_cpu %}
                <tr>
                    <td>{{ osinfo.tags }}</td>
                    <td>{{ osinfo.host }}</td>
                  <td><span class="badge bg-{{ osinfo.cpu_rate_level }}">{{ osinfo.cpu_used }}%</span></td>
                </tr>
                {% endfor %}

              </tbody></table>
            </div>
            </div>
                <div class="chart tab-pane" id="mem">
                    <div class="box-body chart-responsive">
              <table class="table table-striped">
                <tbody><tr>
                  <th>标签</th>
                    <th>主机名</th>
                    <th>百分比</th>
                </tr>

                {% for osinfo in top_5_mem %}
                <tr>
                    <td>{{ osinfo.tags }}</td>
                    <td>{{ osinfo.host }}</td>
                  <td><span class="badge bg-{{ osinfo.mem_rate_level }}">{{ osinfo.mem_used }}%</span></td>
                </tr>
                {% endfor %}

              </tbody></table>
            </div>
                <div class="box-footer clearfix no-border">
                <span class="pull-right text-muted">{{ now }}</span>
            </div>
            </div>
                <div class="chart tab-pane" id="disk">
                    <div class="box-body chart-responsive">
              <table class="table table-striped">
                <tbody><tr>
                  <th>标签</th>
                    <th>主机名</th>
                    <th>目录</th>
                    <th>百分比</th>
                </tr>

                {% for osinfo in top_5_disk %}
                <tr>
                    <td>{{ osinfo.tags }}</td>
                    <td>{{ osinfo.host }}</td>
                    <td>{{ osinfo.name }}</td>
                  <td><span class="badge bg-{{ osinfo.disk_rate_level }}">{{ osinfo.pct_used }}%</span></td>
                </tr>
                {% endfor %}

              </tbody></table>
            </div>
            </div>
            </div>
          </div>
    <!-- LINE CHART -->
         </section>
            </div>
          </div>
{% endblock %}

{% block javascripts %}

<script>

     // ####################  【linux主机】图形  ####################
        // 基于准备好的dom，初始化echarts实例
        var myChart_linux = echarts.init(document.getElementById('linux-chart'));
        // 指定图表的配置项和数据
        var option_linux = {
            title : {
               text: 'linux主机',
               x:'center'
           },
           tooltip : {
               trigger: 'item',
               formatter: "{a} <br/>{b} : ({d}%)"
           },
           legend: {
               orient: 'vertical',
               left: 'left',
               data: ['正常({{ linux_seccess_cnt }})','告警({{ linux_warning_cnt }})','危险({{ linux_danger_cnt }})']
           },
           series : [
               {
                   name: '主机情况',
                   type: 'pie',
                   radius : '50%',
                   center: ['50%', '60%'],
                   data:[
                       {value:{{ linux_seccess_cnt }}, name:'正常({{ linux_seccess_cnt }})'},
                       {value:{{ linux_warning_cnt }}, name:'告警({{ linux_warning_cnt }})'},
                       {value:{{ linux_danger_cnt }}, name:'危险({{ linux_danger_cnt }})'}
                   ],
                   itemStyle: {
                       emphasis: {
                           shadowBlur: 10,
                           shadowOffsetX: 0,
                           shadowColor: 'rgba(0, 0, 0, 0.5)'
                       }
                   },
                   color: [
                         '#22d4bf',
                         '#d4cda6',
                         '#d45356',
                   ],
               }
           ]
       };

       setInterval(function () {
          myChart_linux.setOption(option_linux, true);
        },2000);


        // 使用刚指定的配置项和数据显示图表。
        myChart_linux.setOption(option_linux);

     // ####################  【连接数使用率】图形  ####################
        // 基于准备好的dom，初始化echarts实例
        var myChart_oracle = echarts.init(document.getElementById('oracle-chart'));
        // 指定图表的配置项和数据
        var option_oracle = {
            title : {
               text: 'Oracle数据库',
               x:'center'
           },
           tooltip : {
               trigger: 'item',
               formatter: "{a} <br/>{b} : ({d}%)"
           },
           legend: {
               orient: 'vertical',
               left: 'left',
               data: ['正常({{ ora_seccess_cnt }})','告警({{ ora_warning_cnt }})','危险({{ ora_danger_cnt }})']
           },
           series : [
               {
                   name: '服务情况',
                   type: 'pie',
                   radius : '50%',
                   center: ['50%', '60%'],
                   data:[
                       {value:{{ ora_seccess_cnt }}, name:'正常({{ ora_seccess_cnt }})'},
                       {value:{{ ora_warning_cnt }}, name:'告警({{ ora_warning_cnt }})'},
                       {value:{{ ora_danger_cnt }}, name:'危险({{ ora_danger_cnt }})'}
                   ],
                   itemStyle: {
                       emphasis: {
                           shadowBlur: 10,
                           shadowOffsetX: 0,
                           shadowColor: 'rgba(0, 0, 0, 0.5)'
                       }
                   },
                   color: [
                         '#22d4bf',
                         '#d4cda6',
                         '#d45356',
                   ],
               }
           ]
       };

       setInterval(function () {
          myChart_oracle.setOption(option_oracle, true);
        },2000);


        // 使用刚指定的配置项和数据显示图表。
        myChart_oracle.setOption(option_oracle);

        // ####################  【连接数使用率】图形  ####################
        // 基于准备好的dom，初始化echarts实例
        var myChart_mysql = echarts.init(document.getElementById('mysql-chart'));
        // 指定图表的配置项和数据
        var option_mysql = {
            title : {
               text: 'MySQL数据库',
               x:'center'
           },
           tooltip : {
               trigger: 'item',
               formatter: "{a} <br/>{b} : ({d}%)"
           },
           legend: {
               orient: 'vertical',
               left: 'left',
               data: ['正常({{ msql_seccess_cnt }})','告警({{ msql_warning_cnt }})','危险({{ msql_danger_cnt }})']
           },
           series : [
               {
                   name: '服务情况',
                   type: 'pie',
                   radius : '50%',
                   center: ['50%', '60%'],
                   data:[
                       {value:{{ msql_seccess_cnt}}, name:'正常({{ msql_seccess_cnt }})'},
                       {value:{{ msql_warning_cnt }}, name:'告警({{ msql_warning_cnt }})'},
                       {value:{{ msql_danger_cnt }}, name:'危险({{ msql_danger_cnt }})'}
                   ],
                   itemStyle: {
                       emphasis: {
                           shadowBlur: 10,
                           shadowOffsetX: 0,
                           shadowColor: 'rgba(0, 0, 0, 0.5)'
                       }
                   },
                   color: [
                         '#22d4bf',
                         '#d4cda6',
                         '#d45356',
                   ],
               }
           ]
       };

       setInterval(function () {
          myChart_mysql.setOption(option_mysql, true);
        },2000);


        // 使用刚指定的配置项和数据显示图表。
        myChart_mysql.setOption(option_mysql);


        // ####################  【连接数使用率】图形  ####################
                  // 基于准备好的dom，初始化echarts实例
       var plantCap = [{
         name: '设备通断',
              value: '{{ break_cnt }}'
          }, {
              name: '资源耗尽',
              value: '{{ res_cnt }}'
          }, {
              name: '综合性能',
              value: '{{ perf_cnt }}'
          }, {
              name: '异常等待',
              value: '{{ wait_cnt }}'
          }, {
              name: '对象失效',
              value: '{{ invalid_cnt }}'
          }, {
              name: '同步延迟',
              value: '{{ delay_cnt }}'
          }, {
              name: '日志异常',
              value: '{{ logerr_cnt }}'
          }, {
              name: '资源过期',
              value: '{{ expire_cnt }}'
          }];

          var datalist = [{
              offset: [56, 48],
              symbolSize: 120,
              opacity: .95,
              color: '#f467ce'
          }, {
              offset: [35, 80],
              symbolSize: 95,
              opacity: .88,
              color: '#7aabe2'
          }, {
              offset: [20, 43],
              symbolSize: 90,
              opacity: .84,
              color: '#ff7123'
          }, {
              offset: [83, 30],
              symbolSize: 90,
              opacity: .8,
              color: '#ffc400'
          }, {
              offset: [36, 20],
              symbolSize: 65,
              opacity: .75,
              color: '#5e333f'
          }, {
              offset: [64, 10],
              symbolSize: 70,
              opacity: .7,
              color: '#6b3442'
          }, {
              offset: [75, 75],
              symbolSize: 60,
              opacity: .68,
              color: '#8a3647'
          }, {
              offset: [88, 62],
              symbolSize: 50,
              opacity: .6,
              color: '#68333f'
          }];
          var datas = [];
          for (var i = 0; i < plantCap.length; i++) {
              var item = plantCap[i];
              var itemToStyle = datalist[i];
              datas.push({
                  name: item.value + '\n' + item.name,
                  value: itemToStyle.offset,
                  symbolSize: itemToStyle.symbolSize,
                  label: {
                      normal: {
                          textStyle: {
                              fontSize: 11
                          }
                      }
                  },
                  itemStyle: {
                      normal: {
                          color: itemToStyle.color,
                          opacity: itemToStyle.opacity
                      }
                  },
              })
          }
        var myChart_alarm = echarts.init(document.getElementById('alarm-chart'));
        // 指定图表的配置项和数据
        var option_alarm = {
             grid: {
                 show: false,
                 top: 10,
                 bottom: 10
             },
             xAxis: [{
                 gridIndex: 0,
                 type: 'value',
                 show: false,
                 min: 0,
                 max: 100,
                 nameLocation: 'middle',
                 nameGap: 5
             }],
             yAxis: [{
                 gridIndex: 0,
                 min: 0,
                 show: false,
                 max: 100,
                 nameLocation: 'middle',
                 nameGap: 30
             }],
             series: [{
                 type: 'scatter',
                 symbol: 'circle',
                 symbolSize: 120,
                 label: {
                     normal: {
                         show: true,
                         formatter: '{b}',
                         color: '#fff',
                         textStyle: {
                             fontSize: '20'
                         }
                     },
                 },
                 itemStyle: {
                     normal: {
                         color: '#00acea'
                     }
                 },
                 data: datas
             }]
         };

       setInterval(function () {
          myChart_alarm.setOption(option_alarm, true);
        },2000);

        // 使用刚指定的配置项和数据显示图表。
        myChart_alarm.setOption(option_alarm);

</script>
{% endblock %}