{% extends 'base/base_site.html' %}
{% block content_header %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        一键重启
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">自动化运维</a></li>
        <li><a href="/my_tools">工具包</a></li>
        <li class="active">一键重启</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
        <!-- /.box-body -->
         <div class="box-header">
              <h3 class="box-title">程序启停列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow: auto">
              <table id="table1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                    <th>应用归属</th>
                    <th>操作类型</th>
                  <th>IP地址</th>
                  <th>用户名</th>
                  <th>程序命名</th>
                    <th>操作命令</th>
                    <th>进程检查</th>
                    <th>日志检查</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                {% for start in easy_starts %}
                 <tr>
                 <td>{{ start.id }} </td>
                 <td>{{ start.app_name}} </td>
                 <td>{{ start.oper_type}} </td>
                 <td>{{ start.host}} </td>
                 <td>{{ start.user}} </td>
                 <td>{{ start.name}} </td>
                 <td>{{ start.do_cmd}} </td>
                 <td><span class="badge bg-{{ start.process_check_result }}">{{ start.process_check }}</span></td>
                 <td><span class="badge bg-{{ start.check_log_result }}">{{ start.check_log }}</span></td>
                 <td>
              <div class="box-tools pull-right">
                <a href="#">
            <button type="button" class="btn btn-default btn-sm" onclick="return pop_edit(this.value)" value="{{ start.id }}"><i class="fa fa-edit"></i></button></a>
              </div>
                 </td>
                 <td>
              <div class="box-tools pull-right">
                 <div class="box-tools pull-left">
                <a href="/easy_starts_del?id={{ start.id }}">
            <button type="button" class="btn btn-default btn-sm" onclick="javascript:return del();"><i class="fa fa-trash-o"></i></button></a>
              </div>
              </div>
                 </td>
                 </tr>
                 {% endfor %}
              </table>
            </div>
            <div class="box-footer clearfix">
           <span class="step-links">
        {% if easy_starts.has_previous %}
            <a href="?page_log={{ easy_starts.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">
            当前页{{ easy_starts.number }} 共计{{ easy_starts.paginator.num_pages }}
        </span>
        {% if easy_starts.has_next %}
            <a href="?page_log={{ easy_starts.next_page_number }}">下一页</a>
        {% endif %}
           </span>
                <div class="pull-right">
                <a href="#">
            <button type="button" class="btn btn-primary btn-block btn-flat" onclick="return pop_add()">新增</button>
                </a>
              </div>
         </div>
      </div>
          <input id="handle_status" value="" hidden="hidden">
      </div>
{% endblock %}

{% block javascripts %}
 <script>
 function pop_edit(n){
    layer.open({
    type: 2,
    title: '编辑程序启停配置',
    closeBtn: 1,
    area: ['700px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/easy_starts_edit?id='+n,],
    end:function(){
            var handle_status = $("#handle_status").val();
            if ( handle_status == '1' ) {
                layer.msg('保存成功！',{
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            } else if ( handle_status == '2' ) {
                layer.msg('添加失败！',{
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            }
        }
  });
}
    function pop_add(){
    layer.open({
    type: 2,
    title: '新增程序启停配置',
    closeBtn: 1,
    area: ['700px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/easy_starts_add',],
    end:function(){
            var handle_status = $("#handle_status").val();
            if ( handle_status == '1' ) {
                layer.msg('添加成功！',{
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            } else if ( handle_status == '2' ) {
                layer.msg('添加失败！',{
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            }
        }
  });
}
    </script>
{% endblock %}