{% extends 'base/base_site.html' %}
{% block content_header %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        web站点列表
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">web站点监控</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body" style="overflow: auto">
              <table id="table1" class="table table-bordered table-striped" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标签</th>
                    <th>URL</th>
                    <th>状态代码</th>
                    <th>状态描述</th>
                    <th>请求延时(ms)</th>
                    <th>连接状态</th>
                </tr>
                </thead>
                <tbody>
                 {% for web_url in web_url_list %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td>{{ web_url.tags}} </td>
                 <td>{{ web_url.url}} </td>
                 <td>{{ web_url.status_code}} </td>
                 <td>{{ web_url.reason}} </td>
                 <td><span class="badge bg-{% if web_url.tim < 1000  %}green{% else %}red{% endif %}">{{ web_url.tim }}</span></td>
                 <td><span class="badge bg-{% if web_url.res == '1' %}green{% else %}red{% endif %}">{% if web_url.res == '1' %}  success {% else %} failed {% endif %}</span></td>
                 </tr>
                 {% endfor %}
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
{% endblock %}
