{% extends 'base/base_site.html' %}
{% block css %}
 <meta http-equiv="refresh" content="10">
{% endblock %}
{% block content_header %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        TCP监控列表
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">自动化运维</a></li>
        <li><a href="/my_tools">工具包</a></li>
        <li class="active">TCP监控</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body" style="overflow: auto">
              <table id="table1" class="table table-bordered table-striped" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标签</th>
                    <th>IP</th>
                    <th>端口</th>
                    <th>状态</th>
                    <th>请求延时(ms)</th>
                    <th>连接状态</th>
                </tr>
                </thead>
                <tbody>
                 {% for tcp in tcp_list %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td>{{ tcp.tags}} </td>
                 <td>{{ tcp.ip}} </td>
                 <td>{{ tcp.port}} </td>
                 <td>{{ tcp.sta}} </td>
                 <td><span class="badge bg-{% if tcp.tim < 1000  %}green{% else %}red{% endif %}">{{ tcp.tim }}</span></td>
                 <td><span class="badge bg-{% if tcp.res == '1' %}green{% else %}red{% endif %}">{% if tcp.res == '1' %}  success {% else %} failed {% endif %}</span></td>
                 </tr>
                 {% endfor %}
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
{% endblock %}
