<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('button').click(function () {
                var div = $("div");
                div.animate({height:'300px',opacity:'0.4'},"slow");
                div.animate({width:'300px',opacity:'0.8'},"slow");
                div.animate({height:'100px',opacity:'0.4'},"slow");
                div.animate({width:'100px',opacity:'0.8'},"slow");
            })

        })
    </script>
</head>
<body>
<p id="demo">base document</p>
<button type="button" onclick="myfunctiion()">click here</button>
</body>

<script>
    document.write("<h1>this is a heading</h1>");
    document.write("<p>this is a content</p>");

function  myfunctiion() {
    x=document.getElementById('demo');
    x.innerHTML='helo'
}

</script>
</html>