{% extends 'base/base_site.html' %}
  {% block main_header %}
  {% endblock %}
  {% block main_sidebar %}
  {% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
    <div class="box box-solid">
            <!-- form start -->
            <form class="form-horizontal" action="" method="POST">
              <div class="box-body">
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">标签</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="tags" value={{ linux_server_edit.tags }}>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">主机名</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="host_name" value={{ linux_server_edit.host_name }}>
                  </div>
                </div>
                   <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">主机IP</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="host" value={{ linux_server_edit.host }}>
                  </div>
                </div>
                   <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">监控用户名</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="user" value={{ linux_server_edit.user }}>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">监控用户密码</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" value={{ linux_server_edit.password }}>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">SSH端口</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="ssh_port" value="{{ linux_server_edit.ssh_port }}">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">通断告警</label>
                  <div class="col-sm-10">
                      <select class="form-control select2" style="width: 100%;" name="connect">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      <option selected="selected">{% if linux_server_edit.connect == '0' %} 禁用 {% else %} 启用 {% endif %} </option>
                          <option>启用</option>
                          <option>禁用</option>
                      </select>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">CPU使用率告警</label>
                  <div class="col-sm-10">
                      <select class="form-control select2" style="width: 100%;" name="cpu">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      <option selected="selected">{% if linux_server_edit.cpu == '0' %} 禁用 {% else %} 启用 {% endif %} </option>
                          <option>启用</option>
                          <option>禁用</option>
                      </select>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">内存使用率告警</label>
                  <div class="col-sm-10">
                      <select class="form-control select2" style="width: 100%;" name="mem">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      <option selected="selected">{% if linux_server_edit.mem == '0' %} 禁用 {% else %} 启用 {% endif %} </option>
                          <option>启用</option>
                          <option>禁用</option>
                      </select>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">swap使用率告警</label>
                  <div class="col-sm-10">
                      <select class="form-control select2" style="width: 100%;" name="swap">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      <option selected="selected">{% if linux_server_edit.swap == '0' %} 禁用 {% else %} 启用 {% endif %} </option>
                          <option>启用</option>
                          <option>禁用</option>
                      </select>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">磁盘使用率告警</label>
                  <div class="col-sm-10">
                      <select class="form-control select2" style="width: 100%;" name="disk">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      <option selected="selected">{% if linux_server_edit.disk == '0' %} 禁用 {% else %} 启用 {% endif %} </option>
                          <option>启用</option>
                          <option>禁用</option>
                      </select>
                  </div>
                </div>
                     <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" name="commit">保存</button>
              </div>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
 {#回传参数至父层#}
<script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name);
        var success = {{ status }};
        if ( success == '1' ) {
            parent.$("#handle_status").val('1');
              parent.layer.close(index);
        } else if( success == '2' ) {
            parent.$("#handle_status").val('2');
            parent.layer.close(index);
        }
</script>
{% endblock %}