{% extends 'base/base_site.html' %}
{% block content_header %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        MySQL概览
      </h1>
        </h1>
        <ol class="breadcrumb">
        <li><a href="/begin"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">MySQL</a></li>
        <li class="active">概览</li>
      </ol>
    </section>
{% endblock %}
{% block content %}
    <div class="box box-solid">
            <div class="box-body" style="overflow: auto">
              <table id="table1" class="table table-bordered table-hover" style="overflow: auto">
                <thead>
                <tr>
                  <th>ID</th>
                    <th>标签</th>
                  <th>IP地址</th>
                  <th>端口</th>
                  <th>版本</th>
                    <th>运行时间</th>
                    <th>连接使用率</th>
                    <th>连接线程数</th>
                    <th>活动线程数</th>
                    <th>等待线程数</th>
                    <th>QPS</th>
                    <th>TPS</th>
                    <th>接收流量(kb)</th>
                    <th>发送流量(kb)</th>
                    <th>状态</th>
                </tr>
                </thead>
                {% for dbinfo in dbinfos %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td><a href="/mysql_monitor?tagsdefault={{ dbinfo.tags }}">{{ dbinfo.tags}}</a> </td>
                 <td>{{ dbinfo.host}} </td>
                 <td>{{ dbinfo.port}} </td>
                 <td>{{ dbinfo.version}} </td>
                 <td>{{ dbinfo.uptime}}天 </td>
                   <td><span class="badge bg-{{ dbinfo.conn_rate_level }}">{{ dbinfo.conn_rate }}%</span></td>
                   <td>{{ dbinfo.threads_connected}} </td>
                   <td>{{ dbinfo.threads_running}} </td>
                   <td>{{ dbinfo.threads_waited}} </td>
                     <td>{{ dbinfo.qps}} </td>
                     <td>{{ dbinfo.tps}} </td>
                     <td>{{ dbinfo.bytes_received}} </td>
                     <td>{{ dbinfo.bytes_send}} </td>
                 <td><span class="badge bg-{{ dbinfo.rate_level }}">{{ dbinfo.mon_status }}</span></td>
                 </tr>
                 {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
{% endblock %}
