{% extends 'base/base_site.html' %}
  {% block main_header %}
  {% endblock %}
  {% block main_sidebar %}
  {% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
        <!-- /.box-body -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                    <th>标签</th>
                  <th>undo表空间名</th>
                  <th>undo状态</th>
                  <th>undo大小(MB)</th>
                </tr>
                </thead>
                {% for oracle_undo in oracle_undos %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td>{{ tags}} </td>
                 <td>{{ oracle_undo.TABLESPACE_NAME}} </td>
                 <td>{{ oracle_undo.STATUS}} </td>
                 <td>{{ oracle_undo.MB}} </td>
                 {% endfor %}
              </table>
            </div>
      </div>
      </div>
{% endblock %}

{% block footer %}
{% endblock %}
