{% extends 'base/base_site.html' %}
  {% block main_header %}
  {% endblock %}
  {% block main_sidebar %}
  {% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
        <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
        <!-- /.box-body -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                    <th>标签</th>
                  <th>临时表空间</th>
                  <th>会话SID</th>
                  <th>数据库用户</th>
                  <th>客户端用户</th>
                   <th>Unix进程号</th>
                    <th>客户端来源</th>
                    <th>使用TEMP量(MB)</th>
                    <th>会话详情</th>
                </tr>
                </thead>
                {% for oracle_session_temp in oracle_session_temps %}
                 <tr>
                 <td>{{ forloop.counter }} </td>
                 <td>{{ tags}} </td>
                 <td>{{ oracle_session_temp.TABLESPACE}} </td>
                 <td>{{ oracle_session_temp.SID}} </td>
                 <td>{{ oracle_session_temp.USERNAME}} </td>
                 <td>{{ oracle_session_temp.OSUSER}} </td>
                 <td>{{ oracle_session_temp.SPID}} </td>
                  <td>{{ oracle_session_temp.PROGRAM}} </td>
                  <td>{{ oracle_session_temp.MB_USED}} </td>
                 <td> <li><a href="/oracle_session?tags={{ tags }}&session_id={{ oracle_session_temp.SID }}" >详情</a></li> </td>

                 {% endfor %}
              </table>
            </div>
      </div>
      </div>
{% endblock %}

{% block footer %}
{% endblock %}
