{% extends 'base/base_site.html' %}
  {% block main_header %}
  {% endblock %}
  {% block main_sidebar %}
  {% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
         <div class="box box-solid">
            <!-- form start -->
            <form class="form-horizontal" action="" method="POST">
                <div class="box-header">
              <h3 class="box-title">在线日志</h3>
              </div>
                  <div class="box-body">
                  <!-- Conversations are loaded here -->
             <div class="direct-chat-messages" style="height: 300px">
                 <table class="table table-striped">
               <tbody><tr>
                    <th>选择</th>
                    <th>组</th>
                    <th>线程</th>
                    <th>类型</th>
                    <th>序列号</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>大小(MB)</th>
                    <th>是否归档</th>
                    <th>状态</th>
                    <th>文件名</th>
                </tr>
                {% for oracle_redo_file in oracle_redo_files %}
                <tr>
                <td>
                 <div class="checkbox"><label>
                 <input type="checkbox"  value="{{ oracle_redo_file.MEMBER }}" name="check_box_list">
                    </label>
                    </div>
                 </td>
                <td>{{ oracle_redo_file.GROUP_NO }}</td>
                <td>{{ oracle_redo_file.THREAD_NO }}</td>
                <td>{{ oracle_redo_file.TYPE }}</td>
                <td>{{ oracle_redo_file.SEQUENCE_NO }}</td>
                <td>{{ oracle_redo_file.FIRST_TIME }}</td>
                <td>{{ oracle_redo_file.NEXT_TIME }}</td>
                <td>{{ oracle_redo_file.SIZE_M }}</td>
                <td>{{ oracle_redo_file.ARCHIVED }}</td>
                <td>{{ oracle_redo_file.STATUS }}</td>
                <td>{{ oracle_redo_file.MEMBER }}</td>
                </tr>
                {% endfor %}
              </tbody></table>
                </div>
                  <!--/.direct-chat-messages-->
                </div>
               <div class="box-header">
                 <h3 class="box-title">归档日志</h3>
              </div>
                <div class="box-body">
                  <!-- Conversations are loaded here -->
             <div class="direct-chat-messages" style="height: 300px">
                 <table class="table table-striped">
               <tbody><tr>
                    <th>选择</th>
                    <th>序列号</th>
                    <th>大小(mb)</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>文件名</th>
                </tr>
                {% for oracle_archived_file in oracle_archived_files %}
                <tr>
                <td>
                 <div class="checkbox"><label>
                 <input type="checkbox"  value="{{ oracle_archived_file.NAME }}" name="check_box_list">
                    </label>
                    </div>
                 </td>
                <td>{{ oracle_archived_file.SEQUENCE_NO }}</td>
                <td>{{ oracle_archived_file.MB }}</td>
                <td>{{ oracle_archived_file.FIRST_TIME }}</td>
                <td>{{ oracle_archived_file.NEXT_TIME }}</td>
                <td>{{ oracle_archived_file.NAME }}</td>
                </tr>
                {% endfor %}
              </tbody></table>
                </div>
                  <!--/.direct-chat-messages-->
                </div>
              <!-- /.box-footer -->
                <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" name="commit">提交</button>
              </div>
            </form>
          </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
 {#回传参数至父层#}
<script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name);
        var success = {{ status }};
        if ( success == '1' ) {
            parent.$("#handle_status").val('1');
              parent.layer.close(index);
        } else if( success == '2' ) {
            parent.$("#handle_status").val('2');
            parent.layer.close(index);
        }
</script>
{% endblock %}