{% extends 'base/base_site.html' %}
  {% block main_header %}
  {% endblock %}
  {% block main_sidebar %}
  {% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
    <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h4>sql_undo</h4>
              </div>
              <div class="mailbox-read-message">
                {% for sql_text in sqltext %}
                {{ sql_text.SQL_UNDO }}
                  {% endfor %}
              </div>
              <!-- /.mailbox-read-message -->
            </div>
           <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h4>sql_redo</h4>
              </div>
              <div class="mailbox-read-message">
                {% for sql_text in sqltext %}
                {{ sql_text.SQL_REDO }}
                  {% endfor %}
              </div>
              <!-- /.mailbox-read-message -->
            </div>
          </div>
{% endblock %}

{% block footer %}
{% endblock %}
